#suggestions-list {
  position: absolute;
  top: inherit;
  left: 0;
  width: 75%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0 0 0.2em 0.2em;
  box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

#single-suggestion {
  font-family: "Poppins", "Arial", sans-serif;
  font-size: small;
  padding: 0.3em 0.5em 0.3em 0.5em;
}

#single-suggestion:hover {
  cursor: pointer;

  background-color: #f2f2f2;
  opacity: 90%;
}

#suggestion-divider {
  width: 95%;
  margin: auto;
}
